body 
{
	background-repeat: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*	background: #e3e3e3; 
*/  	overflow: hidden;
  	margin: 0;
  	padding: 0;
  	text-align: center;
}

#container 
{	
  	margin-top: 10%;
  	display: inline-block;

}

canvas 
{
	background: #cecece;
  	
	border: 1px solid #181818;
}

.controls p
{
	font-size: 2em;
	 color:yellow;
}
h1
{
	font-size: 4em;
	color:yellow;
}